// Imported Roboto Font 
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
$bodyColor: 'lightgray';
$importFont: 'roboto';
$zero: 0px;
$stay: fixed;
$n: none;
$dark: 'black';
$light: 'white';
$slow: 5s;
$verySlow: 10s;
$quick: 1s;
$veryQuick: 500ms;

// Sass Variables

* {
  box-sizing: border-box;
}

body {
  background-color: $bodyColor;
  font-family: $importFont;
}

footer {
  bottom: $zero;
  position: $stay;
  width: 100%;
}

#sqlOutput {
  display: $n;
  font-family: monospace;
  background-color: black;
}
