// Imported Roboto Font 
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

// Sass Variables 
$bodyColor: 'red';
$importFont: 'roboto';
$zero: 0px;
$stay: fixed;
$n: none;
$dark: 'black';
$light: 'white';

* {
  box-sizing: border-box;
}

body {
  background-color: $bodyColor;
  font-family: $importFont;
}

footer {
  bottom: $zero;
  position: $stay;
  width: 100%;
}

#sqlOutput {
  display: $n;
  font-family: monospace;
  background-color: $dark;
  color: red !important;
}

.theQuestion:hover {
  background-color: $dark;
  color: $light;
  cursor: pointer;
  transition: 500ms ease-in-out;
}

li:hover {
  cursor: pointer;
  color: red;
  transition: 300ms;
}

// Example Query Modals

.selectModal {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid black;
  border-radius: 10px;
  background-color: lightgray;
  padding: 2rem;
  margin: 2rem;
  width: 450px;
}

.insertModal {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid black;
  border-radius: 10px;
  background-color: lightgray;
  padding: 2rem;
  margin: 2rem;
  width: 450px;
}
